//- #header
  header
    h1 Starry Night Bug
    p Wandering Photographer
  footer
    a.button.style2.scrolly-middle(href="#banner") Stroll down...
#wrapper
  #main
    #reel
      #header.item(data-width="400")
        #inner
          h1 Starry Night Bug
          p Wandering Photographer

      article.item.thumb(data-width="282")
        h2 A Beautiful Cat
        a.image(href="images/fulls/01.jpg")
          img(src="images/thumbs/01.jpg")

      article.item.thumb(data-width="384")
        h2 A Beautiful Cat
        a.image(href="images/fulls/02.jpg")
          img(src="images/thumbs/02.jpg")

